.wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#slide-1 {
    width: 100%;

    img {
        max-width: 40%;
        margin-right: 10px;
    }
    
}

#slide__text {
    margin-left: 20px;
    padding-top: 25px
}


